 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a class="page-nav" href="{{site.baseurl}}/"><h2>{{site.title}}</h2></a>
                </li>
                <li>
                    <a class="page-nav" href="{{site.baseurl}}/about/">Acerca de</a>
                </li>
                <li>
                    <a class="page-nav" href="{{site.baseurl}}/meetup/">Meetup</a>
                </li>
                <li>
                    <a class="page-nav" href="{{site.baseurl}}/contact/">Contacto</a>
                </li>
            </ul>
        </div>
